<nb-layout>
  <nb-layout-header fixed>
    <b>Nebular validation errors</b>
  </nb-layout-header>
  <nb-layout-column style="overflow-x: hidden; display: flex; flex-direction: column; align-items: center">

    <router-outlet></router-outlet>

  </nb-layout-column>
</nb-layout>

