<nb-card>
  <nb-card-header>
    Lazy loaded form example
  </nb-card-header>

  <nb-card-body style="display: flex; flex-direction: column">

    <p>This form has a different module configuration</p>

    <form #form="ngForm" class="grid-column">
      <button (click)="markAsDirty(form)" nbButton outline="true" status="primary" type="button">Mark as dirty</button>
      <button (click)="markAsPristine(form)" nbButton outline="true" status="primary" type="button">Mark as pristine</button>

      <input [(ngModel)]="formData.field1" name="field1" nbErrorTooltip nbInput placeholder="This is a required field" required>

      <input [(ngModel)]="formData.field2" name="field2" nbInput placeholder="This is a non required field">

      <input [(ngModel)]="formData.field3" minlength="3" name="field3" nbErrorTooltip nbInput placeholder="Min length(3)" required>

      <input [(ngModel)]="formData.field4" [nbErrorTooltipPlacement]="NbPosition.TOP"
             name="field4" nbErrorTooltip
             nbInput placeholder="Required with custom tooltip position" required>
    </form>

  </nb-card-body>

</nb-card>

<a [routerLink]="['/']" nbButton status="primary">Go back</a>
